@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');





.logo {
    width: 100vw;
    height: 50vh;

    margin-top: -50px;
    margin-bottom: -50px;

    object-fit: none;

    
    
}

.logo_conteiner:before, .logo_conteiner:after {
    content: '';
    position: absolute;
    left: 0px;
    top:-8px;
    background: linear-gradient(120deg, #79fb00,#8d01a0,#031ba5,#ff004c,#e6036d, #ff6600, #adad02, #00c3ff);
    border-bottom: 5px solid;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-size: 300%;
    width: 100vw;
    height: calc(33% + 12px);
    z-index: -1;
    animation: BGgradient 15s ease infinite;

}

@keyframes BGgradient {
    0% {
        background-position: 0% 200%;
    }
    50% {
        background-position: 200% 0%;
    }
    100%{
        background-position: 0% 330%;
    }
}

.logo_conteiner:after{
    filter: brightness(1.4);
    filter: drop-shadow(16px 16px 20px rgba(248, 220, 97));
    filter: blur(15px);
}

.title{
    font-family: 'Ubuntu';
    font-size:larger;
}

.pTitle{
    font-family: 'Ubuntu';
    font-size:larger;

    font-weight: 900;

    margin-top: 30px;
}


.footer{
    width: 100vw;
    height: fit-content;

    background-color: #222;

    color: white;

    margin-top: 50px;
}


.redes{
    font-size: 40px;
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
}