


.nav {
    width: 100vw;
    height: 7vh;

    border: solid 1px black;

    /* background:-webkit-linear-gradient(-45deg,  #a9e4f7 0%,#0fb4e7 100%); */
    background-color: #222;

    color: white;
}

.routes{
    position: fixed;

    width: 100vw;
    height: 70vh;

    background-color:rgba(0,0,0,0.5); 

    margin-top: 20px;
}

.hidden{
    display: none;
}


.button {
    margin: 0px;
    padding: 2px;

    font-size: 20px;
}


.display{
    font-size: 25px;
}